@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');

html, body {
    height: 100%;
    position: relative;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    background-color: #FEFEFE;
}
body {
    background-color: #F5F5F5;
    max-width: 414px;
    margin: 0 auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    height: 100%;
}

.page {
    background-color: #F5F5F5;
    height: 100%;
    padding: 4em 1.2em 2.5em;
}
.page h5.subtitle,
.page .h5.subtitle {
    font-weight: 200;
    margin-top: -3px;
}
.page .bottom-container.buttons > * {
    width: 100%;
    font-size: 17px;
    text-align: center;
}

.default-button > .btn {
    background-color: #9AB522;
    color: #F1F1F1;
}
.btn-lg { 
    padding: .8em 1.5em; 
}

form input[type="text"], 
form input[type="email"], 
form input[type="password"] {
    padding: .8rem 1.5rem;
}
form .input-guide {
    color: #d1a164;
    font-size: .9rem;
    margin-top: -3px;
}

.divider {
    position: relative;
    margin: 1rem 0;
    height: 1px;
}
.divider:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

a:not(.btn) {
    color: #123B14;
}

.password-strength-bar > div {
    margin-top: .4rem !important;
}
.password-strength-bar > div > div {
    height: 7px !important;
    border-radius: 25px;
}
.password-strength-bar > p {
    margin-top: 4px !important;
}

/* ------------------------ LANDING ------------------------ */
#landing.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 7em;
}
#landing.page .top-container {
    display: flex;
    flex-direction: column;
    row-gap: 55px;
    align-items: center;
}
#landing.page .bottom-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
}
#landing.page .bottom-container.buttons > div > a.btn {
    display: flex;
    gap: 1.5em;
}
#landing.page .bottom-container.buttons > div.google-button > .btn {
    background-color: #FEFEFE;
    color: #1D1D1D;
    align-items: center;
}
#landing.page .bottom-container.buttons > div.apple-button > .btn {
    background-color: #1D1D1D;
    color: #F1F1F1;
    align-items: center;
}

/* -------------------- LOGIN ---------------------- */
#login.page {
    background: url('../images/logo/svg/edits/graphic_silver.svg') -120px 120% no-repeat;
    background-size: 512px 512px;
}
#login.page form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
#login.page .bottom-container {
    text-align: center;
}

/* -------------------- RECOVER ---------------------- */
#recover.page form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
#recover.page .bottom-container {
    text-align: center;
}

/* -------------------- REGISTER ---------------------- */
#signup.page form {
    height: 100%;
}
#signup.page form > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
#signup.page .bottom-container {
    text-align: center;
}
#signup.page div[id^="react-select-"][id$="listbox"] {
    position: absolute;
    left: 0px;
    margin-top:3px;
}


/* -------------- PERSONAL AREA: HOME --------------- */
#personalarea>#home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#personalarea>#home .welcome-text {
    font-size: 20px;
    color: #232323;
}
#personalarea>#home .localization-banner {
    position: absolute;
    bottom: 0;
    height: 270px;
    background: #9AB522;
    width: 100%;
    left: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color:#F9F9F9;
    padding: 1.5rem;
}
#personalarea>#home .localization-banner .subtitle {
    font-weight:200;
    font-size:20px;
}
#personalarea>#home .localization-banner .shop {
    font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight:800;
    font-size:28px;
    margin-top:-2px
}
#personalarea>#home .localization-banner .shop svg {
    margin-top: -6px;
}
#personalarea>#home .localization-banner .new-cart {
    position:absolute;
    bottom:-5px;
    left:0px;
    width:100%;
    text-align:center;
    bottom: 135px;
    font-weight:600;
    color:#123B14;
}

/* -------------- PERSONAL AREA: SCAN --------------- */
#personalarea>#scan {
    width: 100%;
    height: 100%;
}
#personalarea>#scan > .scanner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#personalarea>#scan > .scanner > .camera-wrapper {
    height:300px;
    width:300px;
    overflow: hidden;
    border: 5px solid #EAC199;
    border-radius: 20px;
    background-color: white;
}
#personalarea>#scan > .scanner > .camera-wrapper > .camera {
    position: relative;
    height: 300px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
    #personalarea>#scan > .scanner > .camera-wrapper > .camera {
      width: 300px;
      height: auto;
    }
  }
  
/*******************************
 ********* COMPONENTS **********
 *******************************/
 #customer-bottom-navbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5em 2em 2.5em;
    font-size:13px;
    background-color: white;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    color: #9DB2CE;
}
#customer-bottom-navbar > div {
    text-align:center;
    min-width: 65px;
    cursor: pointer;
}
#customer-bottom-navbar > div.active {
    color:#123B14 !important;
}
#customer-bottom-navbar > div svg {
    font-size: 20px;
}
#customer-bottom-navbar > div .item-name {
    margin-top:.5rem;
}
#customer-bottom-navbar > .cart-button {
    position:relative;
    width:90px;
}
#customer-bottom-navbar > .cart-button > div {
    position:absolute;
    width:100px;
    height:100px;
    border-radius:100%;
    background-color:#9AB522;
    bottom:-30px;
    left:-5px;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 8px solid white;
}
#customer-bottom-navbar > .cart-button > div > div {
    background-color:#123B14;
    width:calc(100% - 12px);
    height:calc(100% - 12px);
    color:white;
    border-radius:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.loader {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.loader > svg {
    transform: scale(1.3);
}